<!doctype html>
<html>
  <head></head>
  <body>
       
            <div class="row">
                <div class="col-md-12">
                    
                        <br/>
                        <h2>Actori</h2>
                        <table id="actors" class="table table-bordered table-striped">
                            <thead>
                                <th>Actorii nostri</th>
                            </thead>
                           <tr ng-repeat="a in Actors">
                                 <td style="margin-left:0">{{a.nameActor}} </td></tr>
                      </table>
                </div>
            </div>
  </body>
</html>

 